<div class="dvl-wrapper">
    <div #dvlprevbtn class="dvl-prev-btn"><img src="../../../assets/images/icons8-chevron-right-52.png" /></div>
    <div #dvlslidescontainer class="dvl-slides-container">
        <div #dvlslideimage class="dvl-slide-image">
            <img src="../../../assets/images/30p_smacznego.png" />
        </div>
        <div #dvlslideimage class="dvl-slide-image">
            <img src="../../../assets/images/ktocolubi.png" />
        </div>
        <div #dvlslideimage class="dvl-slide-image">
            <img src="../../../assets/images/zaletadobregosmaku.png" />
        </div>
    </div>
    <div #dvlnextbtn class="dvl-next-btn"><img src="../../../assets/images/icons8-chevron-left-52.png" /></div>
    <div class="dvl-navigation-dots">
    </div>
</div>